<div class="modal fade" id="globalConfirmModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content glass">
      <div class="modal-header">
        <h5 id="globalConfirmTitle"></h5>
      </div>

      <div class="modal-body">
        <div id="globalConfirmMessage"></div>
      </div>

      <div class="modal-footer">
        <button
          id="globalConfirmCancelBtn"
          class="btn btn-secondary"
          type="button"
        >
          Cancel
        </button>

        <button id="globalConfirmBtn" class="btn btn-success" type="button">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
