<div class="modal fade" id="globalListModal" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content glass">

      <div class="modal-header">
        <h5 class="modal-title" id="globalListTitle">List</h5>

        <button class="btn-close btn-close-white"
                data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <div class="d-flex justify-content-between mb-3">

          <input id="globalListSearch"
                 class="form-control w-50"
                 placeholder="Search...">

          <button class="btn btn-primary"
                  id="globalListAddBtn">
            + Add
          </button>

        </div>

        <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead id="globalListHead"></thead>
            <tbody id="globalListBody"></tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>